#time,#date{
  font-family : "Lucida Sans Unicode";
  color       : white;
  height      : 60px;
  width       : 250px;
  background-color : #1e90ff;
}

#time{
  font-size   : 90px;
  letter-spacing: -0.04em;  /*フォントによる文字の位置微調整*/
  border-radius: 20px 20px 0px 0px;
}

#date{
  text-align  : center;
  font-size   : 36px;
  padding-top : 45px;
  border-radius: 0px 0px 20px 20px;
}
